@import "_variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 75px;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__cart_button {
        padding: 12px;
        color: white;
        border: none;
        background-color: #f16d7f;
        border-radius: 3px; 
    }
}

.products {
    margin-top: 30px;

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 263px;
        height: 364px;
        display: flex;
        flex-direction: column;
        position: relative;
    
        &:not(:nth-child(4n)) {
            margin-right: 29px;
        }
    
        &:nth-child(n+5) {
            margin-top: 39px;
        }
    
        &:hover {
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
    
            .products__item_cover {
                display: flex;
            }
        }

        &_header {
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            color: #222222;
            margin: 18px 14px;
        }

        &_price {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: #f16d7f; 
            margin-left: 14px;
            margin-right: 14px;
        }

        &_cover {
            width: 100%;
            height: 281px;
            background-color: rgba(58,56,56,0.83);
            position: absolute;
            justify-content: center;
            align-items: center;
            display: none;

            &_button {
                width: 123px;
                height: 39px;
                border: 1px solid #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
            }

            &_text {
                font-size: 13px;
                font-weight: 700;
                color: #ffffff;
            }
        }
    }
}
